.title {
  text-align: center;
}
.articles, .app-container {
  padding: 0 10%;
}
.form-inputs {
  padding: 0 10%;
}
.input, .textarea, .button {
  padding: 10px 0;
}
.button {
  text-align: right;
}
.input, .textarea label {
  font-size: 16px;
  font-weight: 600;
}
.navigation {
  margin: 1.5rem 0;
}
.post-link {
  padding: 0 5px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.link {
  text-decoration: none;
  color: #1677ff;
  font-weight: 600;
}
.post-modification {
  display: inline;
}
.copyright {
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
  font-size: 18px;
}


@media (max-width: 600px) {
  .articles {
    padding: 0 8px;
  }
  .post-title {
    font-size: 26px !important;
  }
}